/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Baloo Bhai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Bhai Regular'), local('BalooBhai-Regular'), url(https://fonts.gstatic.com/s/baloobhai/v5/ZgNWjP5GM7bCUdmXgWyVvGLONw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
body {
  background: #EAF5FF;
}
section {
  padding: 10px 20px;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  margin: 8px 0;
}
small {
  font-size: 1.4rem;
  margin: 8px 0;
}
a {
  font-size: 1.8rem;
  color: #373743;
}
a:hover {
  color: #FF974C;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
b {
  font-weight: 700;
}
button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #014A73;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 7px;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
}
button:hover {
  text-decoration: none;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
  background-color: #016ba6;
}
.navbar {
  padding-top: 40px;
  background: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}
@media (min-width: 1200px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px;
  }
}
.navbar .logo h2 {
  font-family: 'Baloo Bhai', sans-serif;
  font-size: 4rem;
}
@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  body .container {
    width: 1200px;
  }
}
@media (min-width: 1200px) {
  section {
    padding: 30px 0;
  }
}
section.banner {
  padding-top: 25px;
  padding-bottom: 25px;
}
section.banner .banner-container {
  display: flex;
  flex-direction: column;
}
section.banner h1 {
  line-height: 1.1;
}
@media (min-width: 1200px) {
  section.banner h1 {
    font-size: 5rem;
    font-weight: 700;
  }
}
section.banner p {
  margin: 20px 0;
}
@media (min-width: 1200px) {
  section.banner p {
    margin: 5px 0 40px;
    font-size: 2rem;
  }
}
section.banner button {
  width: 150px;
}
section.banner small {
  text-decoration: underline;
}
@media (min-width: 1200px) {
  section.banner {
    padding: 100px 0;
    max-width: 800px;
  }
}
section.information {
  padding: 0;
}
section.information .questions {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  section.information .questions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
section.information .questions article {
  background-color: #FFFFFF;
  padding: 15px 20px;
  margin: 10px 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
section.information .questions article p {
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  section.information .questions article {
    margin: 0;
    width: 49.5%;
  }
}
section.information .questions article.help-your-community {
  background-color: transparent;
}
