/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Baloo Bhai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Bhai Regular'), local('BalooBhai-Regular'), url(https://fonts.gstatic.com/s/baloobhai/v5/ZgNWjP5GM7bCUdmXgWyVvGLONw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Condiment';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Condiment'), local('Condiment-Regular'), url(https://fonts.gstatic.com/s/condiment/v7/pONk1hggFNmwvXALyH6irIP8.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: white;
}
body {
  background: #FFFFFF;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  max-width: 2700px;
}
.container {
  padding: 0 30px;
  width: 100%;
}
@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
.fancy-text {
  font-family: 'Condiment', cursive;
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 3.2rem;
  line-height: 1.5;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.7rem;
  margin: 8px 0;
}
small {
  font-size: 1.4rem;
}
a {
  font-size: 1.8rem;
  color: #FFFFFF;
}
a:hover {
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
b {
  font-weight: 700;
}
button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  cursor: pointer;
  color: #FFFFFF;
  background-color: #014A73;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 7px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225);
  transition: all 0.3s ease-out;
}
button:hover {
  transition: all 0.3s ease-out;
  text-decoration: none;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.225);
  background-color: #013a5a;
}
.navbar {
  background: rgba(0, 0, 0, 0.493);
  padding: 15px 0 10px;
}
@media (min-width: 1200px) {
  .navbar {
    padding: 25px 0 10px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.navbar nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar nav a {
  text-decoration: none;
}
.navbar nav .logo h2 {
  font-family: 'Baloo Bhai', sans-serif;
  font-size: 4rem;
}
.navbar nav .desktop-links {
  display: none;
  width: 380px;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) {
  .navbar nav .desktop-links {
    display: flex;
  }
}
.navbar nav .desktop-links button {
  font-size: 1.55rem;
}
@media (min-width: 1200px) {
  .navbar nav .mobile-links {
    display: none;
  }
}
@media (min-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
section .small-container {
  width: 90%;
}
section.intro {
  background: url('../images/index/hero.jpg') no-repeat center center fixed;
  background-size: cover;
}
section.intro .hero {
  padding-top: 70px;
  padding-bottom: 70px;
}
section.intro .hero .motivation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 1200px) {
  section.intro .hero .motivation {
    padding-top: 80px;
    padding-bottom: 120px;
    max-width: 800px;
  }
}
section.intro .hero .motivation h1 {
  line-height: 1.1;
}
@media (min-width: 1200px) {
  section.intro .hero .motivation h1 {
    font-weight: 700;
    font-size: 5rem;
  }
}
section.intro .hero .motivation p {
  margin: 15px 0 40px;
  font-size: 1.85rem;
}
@media (min-width: 1200px) {
  section.intro .hero .motivation p {
    font-size: 2rem;
  }
}
section.intro .hero .motivation button {
  width: 150px;
}
section.intro .hero .motivation small {
  margin: 10px 0;
  text-decoration: underline;
}
section.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 30px 0;
}
section.info article {
  margin: 15px 0;
  padding-right: 5%;
}
@media (min-width: 1200px) {
  section.info article {
    width: 49.5%;
  }
}
section.info article h3 {
  margin-bottom: 20px;
  color: black;
}
section.info article p {
  margin-bottom: 0;
  color: #10101a;
}
section.info .questions {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  section.info .questions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
section.stats {
  background: url('../images/index/blueberries.jpg') no-repeat;
  background-size: cover;
  padding: 60px 0;
}
section.stats .motivation {
  color: #FFFFFF;
  border-radius: 3px;
  text-align: center;
}
section.donate {
  padding: 100px 0;
  background: #10101a;
}
section.donate .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 1200px) {
  section.donate .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
section.donate .container .image-box {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media (min-width: 800px) {
  section.donate .container .image-box {
    width: 80%;
    align-self: center;
  }
}
@media (min-width: 1200px) {
  section.donate .container .image-box {
    width: 45%;
  }
}
section.donate .container .image-box img {
  border-radius: 5px;
  box-shadow: 0 0 10px #ffffff, 0 0 5px rgba(255, 255, 255, 0.22);
}
section.donate .container .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: -1vw;
  width: 100%;
  text-align: center;
}
@media (min-width: 800px) {
  section.donate .container .text {
    width: 80%;
    align-self: center;
  }
}
@media (min-width: 1200px) {
  section.donate .container .text {
    width: 48%;
  }
}
section.donate .container .text h2 {
  font-size: 13vw;
  margin: 20px 0 0;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.363);
}
@media (min-width: 800px) {
  section.donate .container .text h2 {
    font-size: 8vw;
  }
}
@media (min-width: 1200px) {
  section.donate .container .text h2 {
    font-size: 7rem;
  }
}
section.donate .container .text p {
  margin: 30px;
}
section.donate .container .text .buttons {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: column;
  align-items: center;
}
section.donate .container .text .buttons button {
  width: 60%;
  margin-bottom: 10px;
}
section.footer {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
section.footer .container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  align-items: center;
}
section.footer .resources {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-between;
  padding: 0 0 20px;
  border-bottom: 2px solid #10101a;
}
section.footer .resources h4 {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  section.footer .resources h4 {
    font-size: 1.6rem;
  }
}
section.footer .resources a {
  font-size: 1.5rem;
  color: #111121;
  display: block;
  text-decoration: none;
  margin-bottom: 3px;
}
@media (min-width: 1200px) {
  section.footer .resources a {
    font-size: 1.6rem;
  }
}
section.footer .resources .page-links {
  display: flex;
  flex-direction: column;
  width: 50%;
}
section.footer .resources .get-involved {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: right;
}
section.footer .socials {
  padding: 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 1200px) {
  section.footer .socials {
    width: 400px;
  }
}
section.footer .socials i {
  color: #111121;
  font-size: 2.8rem;
}
