// Follow the order in the readme

@import "./global/variables.less";
@import "./global/footer.less";
@import "./global/reset.less";
@import "./global/global.less";
@import "./global/navbar.less";
@import "./index.less";


body {

    .team {
        @media @desktop {
            padding-bottom: 2%;
        }    

        .teamtop {

            h1 {
                padding: 14% 0 3% 0;  
                line-height: 1.1;
                
                @media @desktop {
                    font-weight: 700;
                    font-size: 5rem;
                    padding: 8% 0 2% 0;
                }   
            }
        
            p {
                padding-bottom: 8%;
                margin: 20px 0;
                
                @media @desktop {
                    margin: 5px 0 40px;
                    font-size: 2rem;
                    padding: 0;
                }    
            }
        }
    } 

    .mugshots {   
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: @white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 1%;

        .row1 {
            display: flex;
            justify-content: space-between;            
            width: 100%;
            flex-direction: row;

            @media @desktop {
                justify-content: space-evenly;
            }

            div {
                @media @desktop {
                    width: 35%
                }
            }
                
            img {
                @media @desktop {
                    width: 100%;
                    padding: 0;
                    margin-top: 12%;
                }
            }
        }

        .row2 {
            display: flex;
            justify-content: space-between;            
            width: 100%;
            flex-direction: row;
                
            @media @desktop {
                justify-content: space-evenly;
            }

            div {
                @media @desktop {
                    width: 35%;
                }
            }
                
            img {
                @media @desktop {
                    width: 100%;
                    padding: 0;
                    margin-top: 10%;
                }
            }       
        }

        .row3 {
            display: flex;
            justify-content: space-between;            
            width: 100%;
            flex-direction: row;

            @media @desktop {
                justify-content: space-evenly;
            }

            div {
                @media @desktop {
                    width: 35%;
                }
            }
                
            img {
                @media @desktop {
                    width: 100%;
                    padding: 0;
                    margin-top: 10%;
                }
            }           
        }

        div {
            width: 50%;
            padding-bottom: 1%;

            @media @desktop {
                display: flex;
                flex-direction: column;
                align-items: center;       
            }

            img, h3 {
                width: 100%;
                padding: 5%;  
            }

            img {
                @media @desktop {              
                    padding: 10% 10% 3%;
                }
            }

            h3 {
                font-size: 2rem;

                @media @desktop {
                    padding: 2%;
                }
            }

            h4 {
                font-size: 1.6rem;
                padding-bottom: 10%;

                @media @desktop {
                    padding: 0;
                }
            }
        }

        .paddingBottom {
                @media @desktop {
                    justify-content: space-evenly;
                    padding-bottom: 3%;
                    width: 35%;
                }
                
            img {
                @media @desktop {
                    width: 100%;
                    padding: 0;
                    margin-top: 10%;
                }
            }
        }
    }
    
    footer {
        text-align: center;
        padding: 3%;

        @media @desktop {
            padding: 5% 0 1%;
        }
    }
}






