// Follow the order in the readme

@import "./global/variables.less";
@import "./global/footer.less";
@import "./global/reset.less";
@import "./global/global.less";
@import "./global/navbar.less";

body {
   @media @desktop {
      display: flex;
      flex-direction: column;
      align-items: center;

   }
   .container {
      @media @desktop {
         width: 1200px;
      }
   }
}

section {
   &.banner {
      padding-top: 70px;
      padding-bottom: 70px;

      @media @desktop {
         padding-top: 100px;
         padding-bottom: 100px;
         max-width: 800px;
      }

      .banner-container {
         display: flex;
         flex-direction: column;
      }

      h1 {
         line-height: 1.1;
         
         @media @desktop {
            font-weight: 700;
            font-size: 5rem;
         }
      }

      p {
         margin: 20px 0;
         @media @desktop {
            margin: 5px 0 40px;
            font-size: 2rem;
         }
      }

      button {
         width: 150px;
      }

      small {
         text-decoration: underline;
      }
   }

   &.information {
      display: flex;
      flex-direction: column;
      background: @white;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

      article {
         padding-right: 10%;
         margin: 15px 0;

         @media @desktop {
            width: 49.5%;
            padding-right: 0;
         }

         h2 {
            margin-bottom: 20px;
         }
         h3 {
            margin-bottom: 10px;
         }
         p {
            margin-bottom: 0;
         }
      }

      .questions {
         display: flex;
         flex-direction: column;

         @media @desktop {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
         }
      }
   }
}

