@import "./global/variables.less";
@import "./global/footer.less";
@import "./global/reset.less";
@import "./global/global.less";
@import "./global/navbar.less";

body {
   @media @desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

section {
   &.intro {
      border: 1px solid @tuna;
      background: url('../images/index/hero.jpg') no-repeat center center fixed;
      background-size: cover;

      .hero {
         .motivation {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 70px;
            padding-bottom: 70px;

            @media @desktop {
               padding-top: 100px;
               padding-bottom: 100px;
               max-width: 800px;
            }

            h1 {
               line-height: 1.1;

               @media @desktop {
                  font-weight: 700;
                  font-size: 5rem;
               }
            }

            p {
               margin: 20px 0;

               @media @desktop {
                  margin: 20px 0 40px;
                  font-size: 2rem;
               }
            }

            button {
               width: 150px;
            }

            small {
               margin: 10px 0;
               text-decoration: underline;
            }
         }
      }
   }


   &.info {
      border: 1px solid @tuna;
      // background: url('../images/index/volunteer.jpg') no-repeat center center fixed;
      background-size: cover;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      article {
         color: black;
         margin: 15px 0;
         padding-right: 5%;

         @media @desktop {
            width: 49.5%;
         }

         h2 {
            margin-bottom: 20px;
         }

         h3 {
            margin-bottom: 10px;
         }

         p {
            margin-bottom: 0;
         }
      }

      .questions {
         display: flex;
         flex-direction: column;

         @media @desktop {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
         }
      }
   }
}