@import "./global/variables.less";
@import "./global/footer.less";
@import "./global/reset.less";
@import "./global/global.less";
@import "./global/navbar.less";

body {
   @media @desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

section {
   .small-container {
      width: 90%;
   }

   &.intro {
      background: url('../images/index/hero.jpg') no-repeat center center fixed;
      background-size: cover;

      .hero {
         padding-top: 70px;
         padding-bottom: 70px;

         .motivation {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @media @desktop {
               padding-top: 80px;
               padding-bottom: 120px;
               max-width: 800px;
            }

            h1 {
               line-height: 1.1;

               @media @desktop {
                  font-weight: 700;
                  font-size: 5rem;
               }
            }

            p {
               margin: 15px 0 40px;
               font-size: 1.85rem;

               @media @desktop {
                  font-size: 2rem;
               }
            }

            button {
               width: 150px;
            }

            small {
               margin: 10px 0;
               text-decoration: underline;
            }
         }
      }
   }


   &.info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      position: relative;
      z-index: 2;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

      padding: 30px 0;

      article {
         margin: 15px 0;
         padding-right: 5%;

         @media @desktop {
            width: 49.5%;
         }

         h3 {
            margin-bottom: 20px;
            color: black;
         }

         p {
            margin-bottom: 0;
            color: @dark-vulkan;
         }
      }

      .questions {
         display: flex;
         flex-direction: column;

         @media @desktop {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
         }
      }
   }

   &.stats {
      background: url('../images/index/blueberries.jpg') no-repeat;
      background-size: cover;
      padding: 60px 0;

      .motivation {
         color: @white;
         border-radius: 3px;
         text-align: center;
      }
   }

   &.change-the-world {
      padding: 100px 0;
      background: @dark-vulkan;

      .container {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         justify-content: space-around;

         @media @desktop {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
         }

         .image-box {
            width: 100%;
            display: flex;
            flex-direction: row;

            @media @tablet {
               width: 80%;
               align-self: center;
            }

            @media @desktop {
               width: 45%;
            }

            img {
               border-radius: 5px;
               box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 5px rgba(255, 255, 255, 0.22);
            }
         }

         .text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            position: relative;
            left: -1vw;

            width: 100%;

            @media @tablet {
               width: 80%;
               align-self: center;
            }
            
            @media @desktop {
               width: 48%;
            }

            text-align: center;

            h2 {
               font-size: 13vw;
               margin: 20px 0 0;
               padding: 30px 0;
               border-bottom: 1px solid rgba(255, 255, 255, 0.363);

               @media @tablet {
                  padding: 0 0 30px;
                  margin: 0;
                  font-size: 8vw;
               }
               @media @desktop {
                  font-size: 7rem;
               }
            }

            p {
               margin: 30px;
            }

            .buttons {
               display: flex;
               flex-wrap: wrap;
               width: 80%;
               flex-direction: column;
               align-items: center;

               button {
                  width: 60%;
                  margin-bottom: 10px;
               }
            }
         }
      }
   }

   &.footer {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

      .container {
         display: flex;
         flex-direction: column;
         padding-top: 50px;
         padding-bottom: 50px;
         align-items: center;
      }


      .resources {
         display: flex;
         flex-direction: row;
         color: black;
         justify-content: space-between;
         padding: 0 0 20px;
         border-bottom: 2px solid @dark-vulkan;
         
         h4 {
            margin-bottom: 10px;

            @media @desktop {
               font-size: 1.6rem;
            }
         }

         a {
            font-size: 1.5rem;
            color: @vulkan;
            display: block;
            text-decoration: none;
            margin-bottom: 3px;

            @media @desktop {
               font-size: 1.6rem;
            }
         }

         .page-links {
            display: flex;
            flex-direction: column;
            width: 50%;
         }

         .get-involved {
            display: flex;
            flex-direction: column;
            width: 50%;
            text-align: right;
         }
      }

      .socials {
         padding: 20px 0 0;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         width: 100%;

         @media @desktop {
            width: 400px;
         }

         i {
            color: @vulkan;
            font-size: 2.8rem;
         }
      }

   }
}