section {
   display: flex;
   flex-direction: column;

   &.banner {
      padding-top: 50px;
      padding-bottom: 50px;

      h1 {
         line-height: 1.1;
      }

      p {
         margin: 20px 0;
      }

      button {
         width: 35%;
      }

      small {
         text-decoration: underline;
      }
   }
}