// Follow the order in the readme

@import "./global/variables.less";
@import "./global/footer.less";
@import "./global/reset.less";
@import "./global/global.less";
@import "./global/navbar.less";
@import "./index.less";
@import "./global/mixins.less";

.locationTop {
    h1 {
        padding-top: 14%;
        line-height: 1.1;

        @media @desktop {
            .fontStyle
        }   
    }

    p {
        margin: 20px 0;

        @media @desktop {
            .pStyle
        }
    }
}

.locations {
    display: flex;
    flex-wrap: wrap;

    @media @desktop {
        justify-content: space-evenly;
    }

    div {
        .paddingWidth(2% 2% 0, 100%);
        margin: 3% 0;
        .content;

        @media @desktop {
            width: 30%;
            margin: 1%;  
        }

        p {
            line-height: 1;

            @media @desktop {
                font-size: 2rem;
                padding-bottom: 1%;
            }
        }

        .loclink {
            box-shadow: none;
            font-size: 1.6rem;

            @media @desktop {
                .paddingWidth(8% 0, 100%);
                box-shadow: none;
                font-size: 2rem;           
            }
        }
    }
}

footer {
    text-align: center;
    padding: 7% 0 2%;
}