.navbar {
   padding: 0;
   background: @white;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
   width: 100%;

   @media @desktop {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   nav.container {
      max-width: 1200px;
      padding: 50px 15px 5px;
      @media @desktop {
         padding: 50px 15px 10px;
      }
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      a {
         text-decoration: none;
      }

      .logo {
         h2 {
            font-family: 'Baloo Bhai', sans-serif;
            font-size: 4rem;
         }
      }

      .desktop-links {
         display: none;

         @media @desktop {
            display: flex;
         }

         width: 40%;
         justify-content: space-between;
         align-items: center;

         button {
            font-size: 1.5rem;
         }

         .link {
            position: relative;
            bottom: -3px;

            &:hover {
               position: relative;
               color: @vulkan;
               border-bottom: 2px solid @vulkan;
               bottom: -4px;
            }
         }
      }

      .mobile-links {

         @media @desktop {
            display: none;
         }
      }
   }
}