.navbar {
   background: rgba(0, 0, 0, 0.493);
   padding: 15px 0 10px;

   @media @desktop {
      padding: 25px 0 10px;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      a {
         text-decoration: none;
      }

      .logo {
         h2 {
            font-family: 'Baloo Bhai', sans-serif;
            font-size: 4rem;
         }
      }

      .desktop-links {
         display: none;

         @media @desktop {
            display: flex;
         }

         width: 380px;
         justify-content: space-between;
         align-items: center;

         button {
            font-size: 1.55rem;
         }

         
      }

      .mobile-links {

         @media @desktop {
            display: none;
         }
      }
   }
}